@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");

@import "tailwindcss";

@theme {
  /* 🎨 Brand Colors */
  --color-blacktape: #030706;
  --color-gold: #beb693;
  --color-olive: #646043;
  --color-navbar: #f2f0e9;
  --color-navbar-active: #847847;

  /* 🖋️ Typography */
  --font-header: "Denton Condensed", serif;
  --font-text: "Denton Condensed", serif;
}

/* =========================
   Custom Fonts
========================= */

@font-face {
  font-family: "Denton Condensed";
  src: url("DentonCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Denton Condensed";
  src: url("DentonCondensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@layer base {
  html,
  body {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ::selection {
    background-color: var(--color-gold);
    color: var(--color-blacktape);
  }

  html {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--color-gold) gray;
  }
}

/* Minimal scrollbar (WebKit) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gold);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-navbar-active);
}

/* Hide scrollbar utility */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
